---
title: "Home"
date: 2022-01-26T13:43:00-05:00
draft: false
---
<!--<div class="card contact-section bg-primary text-white">
	Fancy new website! My old site was becoming increasingly unmaintainable so I rewrote it much better with Hugo and Bootstrap instead of doing everything manually.
</div>-->

<h1>Projects</h1>
<div class="grid-container">
	{{< projectCard title="Squiid" description="A powerful calculator written in Rust and supporting both algebraic and RPN input styles." url="https://imaginaryinfinity.net/projects/squiid/" >}}
	{{< projectCard title="TerminalCraft" description="A text based survival sandbox. " url="/projects/terminalcraft" >}}
	{{< projectCard title="I-Point Driver" description="Driver for the I-Point serial IR presentation remote" url="/projects/i-point">}}
	<!-- {{< projectCard title="Cellular Respiration Story Mode" description="An educational visual novel about cellular respiration, made as a project for AP Biology" url="/projects/cellularrespiration">}} -->
	{{< projectCard title="ETS2/ATS Mod Utility" description="A simple utility fix a few issues with mods for Euro Truck Simulator 2 and American Truck Simulator" url="projects/modconvert" >}}
</div>
