---
title: "Archive"
date: 2022-01-27T12:20:15-05:00
draft: false
---
<i>Please note that information on these sites is not up to date and the sites will not be updated or fixed</i>
<hr>

Looking for the old version of turbowafflz.gitlab.io? Click <a href="http://gitlab.turbowafflzwebsitearchive.surge.sh/"> here.</a>
<br>
<a href="http://gitlab.turbowafflzwebsitearchive.surge.sh/"><img class="screenshot" src="/images/oldGitlab.png" alt="Screenshot of the old version of this site"></a>
<br>
Looking for my old GitHub website? Click <a href="http://github.turbowafflzwebsitearchive.surge.sh/"> here. </a>
<br>
<a href="http://github.turbowafflzwebsitearchive.surge.sh/"><img class="screenshot" src="/images/oldGithub.png" alt="Screenshot of my old GitHub website"></a>
<br>
Looking for a really old version of my GitHub website (warning it's really bad)? Click <a href="http://old.turbowafflzwebsitearchive.surge.sh">here</a>.
<br>
<a href="http://old.turbowafflzwebsitearchive.surge.sh"><img class="screenshot" src="/images/reallyOldGithub.png" alt="Screenshot of my really old GitHub website"></a>

<hr>
Alternatively, you can access source code for all old versions of my GitLab website <a href="//gitlab.com/TurboWafflz/turbowafflz.gitlab.io/-/commits/master">here</a> and my GitHub website <a href="//github.com/TurboWafflz/turbowafflz.github.io/commits/master">here</a>.
