---
title: "Collection"
date: 2022-01-26T18:03:50-05:00
draft: false
---
A roughly up to date ish catalog of my moderately sized vintage electronics collection. Devices in each category organized roughly chronologically in terms of release date 
<br>

<br>
<h5>Desktops</h5>
{{< collectionItem name="Commodore 64" os="Commodore Kernal" cpu="MOS 6510 @ 1.023 MHz" ram="64 KB" gpu="VIC-II" >}}

<br>
<h5>Laptops</h5>
{{< collectionItem name="Toshiba T1000SE" os="MS-DOS 3.3" cpu="Intel 80C86 @ 4.77 MHz" ram="1MB" note="Needs many capacitors replaced and I haven't gotten around to that yet" >}}
{{< collectionItem name="Panasonic Toughbook CF-48" cpu="Pentium 4M @1.8GHz" note="CF-48X4HHUKM model which does not appear in any documentation I can find" note2="Will not start due to a hardware fault that I have not yet diagnosed and may be above my skill level to diagnose and/or fix" >}}
{{< collectionItem name="Apple iBook G3/500 (Late 2001)" os="Mac OS 9.2.1" cpu="PowerPC 750cx @ 500MHz" gpu="ATI Rage Mobility 128" ram="384MB">}}
{{< collectionItem name="Apple iBook G3/700 (16 VRAM)" os="Mac OS 9.2.2, 10.3, and 10.4.11" cpu="PowerPC 750fx @ 700MHz" gpu="ATI Mobility Radeon" ram="640MB">}}
{{< collectionItem name="IBM ThinkPad A31" os="Windows XP" cpu="Pentium 4M @1.6GHz" gpu="ATI Mobility Radeon 7500">}}
{{< collectionItem name="IBM ThinkPad A31" cpu="Pentium 4M @1.6GHz" gpu="ATI Mobility Radeon 7500" note="Dead LCD Backlight">}}

<br>
<h5>Handhelds</h5>
{{< collectionItem name="Palm IIIx" os="PalmOS 3.3" cpu="Motorola DragonBall EZ @ 16MHz" ram="4MB" >}}
{{< collectionItem name="Palm Vx" os="PalmOS 3.3" cpu="Motorola DragonBall EZ @ 20MHz" ram="8MB" note="2 Mostly identical units" note2="Both have dead batteries but the device is glued together so I haven't replaced them yet" >}}
{{< collectionItem name="Palm m105" os="PalmOS 3.5.1" cpu="Motorola DragonBall EZ @ 16MHz" ram="8MB" >}}
{{< collectionItem name="Compaq Agency Series PE2030 (Color)/Compaq iPAQ H3500 Series" os="Windows CE 3.0.9348 (build 9616)" cpu="Intel StrongARM SA1110" ram="32MB" note="Proud owner of the most confusing model numbering scheme I've ever seen" >}}
{{< collectionItem name="Casio Cassiopeia IT-700M30E" os="Some version of Windows CE I can't be bothed to check because I don't have a battery and turning it on without a battery is annoying" cpu="NEC VR4122" ram="32MB" note="SocketScan barcode scanner" >}}
{{< collectionItem name="Palm m505" os="PalmOS 4.0" cpu="Motorola DragonBall VZ @ 33MHz" ram="8MB" >}}
{{< collectionItem name="Palm m515" os="PalmOS 4.1" cpu="Motorola DragonBall VZ @ 33MHz" ram="16MB" >}}
{{< collectionItem name="Sony Clié PEG-T615C" os="PalmOS 4.1" cpu="Motorola DragonBall VZ @ 33MHz" ram="16MB" note="A word of warning to any other people (un)lucky enough to own this model: The battery is glued in with incredibly strong adhesive and you will almost definitely have to pry it out with something to remove it. If you're going to disassemble this device make sure you have somewhere to put the battery you inevitably damage while removing." >}}
{{< collectionItem name="Sony Clié PEG-N760C" os="PalmOS 4.1" cpu="Motorola DragonBall VZ @ 33MHz" ram="8MB" >}}
{{< collectionItem name="Palm Tungsten T2" os="PalmOS 5.2.1" cpu="Texas Instruments OMAP1510 @ 144MHz" ram="32MB" >}}
{{< collectionItem name="Dell Axim x50v" os="Windows CE 4.21.1088 (build 14260.2.0.5)" cpu="Intel PXA270 @ 624MHz" ram="64MB" >}}
{{< collectionItem name="Palm Tungsten E" os="PalmOS 5.2.1" cpu="Texas Instruments OMAP311 @ 126MHz" ram="32MB" note="My first mobile device (although I bought it for about $5 around 2014)" >}}
{{< collectionItem name="Palm Z22" os="A PalmOS version that I would love to check if the digitizer worked" cpu="Samsung S3C2410 @ 200MHz" ram="16MB" note="Completely nonfunctional digitizer" >}}
{{< collectionItem name="Palm T|X" os="PalmOS 5.4.9" cpu="Intel XScale PXA270 @ 312MHz" ram="32MB" >}}
{{< collectionItem name="Apple iPod Touch 2nd Generation" os="iOS 4.2.1 (Jailbroken)" cpu="Samsung S3C6400 @ 533MHz" ram="128MB" note="Of course the volume and power buttons are broken" >}}
{{< collectionItem name="HTC Tilt 2" os="Windows CE 5.2.21849 (built 21849.5.0.63)" cpu="Qualcomm MSM7200A @ 528MHz" ram="288MB" >}}
{{< collectionItem name="Palm Pre Plus (Verizon)" os="WebOS 2.1.0 (Upgraded from 1.4.5.1 via Metadoctor)" cpu="ARM Cortex-A8 @ 1GHz (Originally 600MHz, overclocked with UberKernel and Govnah)" ram="512MB" note="Recently developed a strange fault where the touchscreen taps in a specific place by itself at seemingly random intervals" >}}

<br>
<h5>Calculators</h5>
A list of my calculators is available on <a href="//my.calcs.quest/u/423">MyCalcs</a>
