---
title: "Equipment"
date: 2022-01-26T16:47:17-05:00
draft: false
---
<div class="card item">
	<div class="card-body">
		<h5 class="card-title">Desktop Computer</h5>
		<p class="card-text">
			<ul>
				<li> <a href="//opensuse.org">openSUSE</a> &amp; <a href="//archlinux.org">Arch Linux</a></li>
				<li><a href="//kde.org">KDE Plasma</a></li>
				<li>MSI B550-A Pro Motherboard</li>
				<li>32GB RAM</li>
				<li>AMD Ryzen 7 5700X @ 3.4 GHz</li>
				<li>XFX Radeon RX 6650 XT</li>
				<li>Monitors</li>
				<ul>
					<li>Dell U2412M (Main)</li>
					<li>HP S2031</li>
					<li>HP LP2465</li>
				</ul>
				<li>Leading Edge DC-2214 keyboard (Alps SKCM white)</li>
				<li>Logitech G502 Proteus Spectrum mouse</li>
				<li>Logitech G635 headset</li>
				<li>Logitech Driving Force GT</li>
			</ul>
		</p>
	</div>
</div>

<div class="card item">
	<div class="card-body">
		<h5 class="card-title">Framework Laptop 13</h5>
		<p class="card-text">
			<ul>
				<li><a href="//fedoraproject.org/atomic-desktops/silverblue/">Fedora Silverblue</a></li>
				<li>512GB NVMe SSD</li>
				<li>24GB RAM</li>
				<li>AMD Ryzen 7640U</li>
			</ul>
		</p>
	</div>
</div>
<!--
<div class="card item">
	<div class="card-body">
		<h5 class="card-title">Dell Inspiron 3147</h5>
		<p class="card-text">
			<ul>
				<li>Bought it for $20 at a junk shop</li>
				<li><a href="//freebsd.org">FreeBSD 13.1</a></li>
				<li>1TB SATA SSD</li>
				<li>4GB RAM</li>
				<li>Intel Pentium N3530</li>
			</ul>
		</p>
	</div>
</div>
-->
<!--
<div class="card item">
	<div class="card-body">
		<h5 class="card-title">Pine64 Pinephone</h5>
		<p class="card-text">
			<ul>
				<li><a href="//sailfishos.org">Sailfish OS</a></li>
				<li>2GB RAM</li>
				<li>Allwinner A64 SOC</li>
			</ul>
		</p>
	</div>
</div>
-->
<div class="card item">
	<div class="card-body">
		<h5 class="card-title">OnePlus 9 LE2115</h5>
		<p class="card-text">
			<ul>
				<li><a href="//lineageos.org">LineageOS</a> 20</li>
				<li>8GB RAM</li>
				<li>Qualcomm Snapdragon 888</li>
				<li>Qualcomm Adreno 660</li>
			</ul>
		</p>
	</div>
</div>
