---
title: "Cellular Respiration  Story Mode"
date: 2022-01-26T14:46:25-05:00
draft: false
---

This is a visual novel I made in 10th grade as a project for AP Biology.
<br>
Art by Johnathan Berry, voice acting by Johnathan Berry and me, programming by me
<br>
<br>
<a class="btn btn-primary" href="/CellularRespiration">Play Online</a>
<a class="btn btn-secondary" href="//gitlab.com/TurboWafflz/cellular-respiration-story-mode">Browse the Source Code</a>

<hr>
<div class="grid-container screenshot-grid">
	<img class="screenshot" src="/images/cellularRespiration/menu.png" alt="Screenshot of the menu">
	<img class="screenshot" src="/images/cellularRespiration/ingame.png" alt="In game screenshot">
</div>