---
title: "ImaginaryInfinity Calculator"
date: 2022-01-26T13:59:52-05:00
draft: false
---

ImaginaryInfinity Calculator is an expandable calculator. It's command line interface is designed to resemble that of some graphing calculators. New functionality can easily be added by placing Python files with additional functions in the plugins directory. Packages are provided for several Linux distributions and the calculator can be installed on many other operating systems such as Haiku, MacOS, and Windows via the installer scripts, instructions for installation via script are available at the installation section of <a href="https://gitlab.com/TurboWafflz/ImaginaryInfinity-Calculator/blob/master/README.md#Installation">the readme</a>.
<br>
<br>
<a class="btn btn-primary" href="https://gitlab.com/TurboWafflz/ImaginaryInfinity-Calculator/blob/master/README.md">Download</a>
<a class="btn btn-secondary" href="https://gitlab.com/TurboWafflz/ImaginaryInfinity-Calculator">Browse the source code</a>

<hr>
<div class="grid-container screenshot-grid">
	<img class="screenshot" src="//raw.githubusercontent.com/TurboWafflz/ImaginaryInfinity-Calculator/master/iicalcscreenshot.png">
	<img class="screenshot" src="//res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,w_819,h_505/https://dashboard.snapcraft.io/site_media/appmedia/2021/04/settings-haiku.png">
	<img class="screenshot" src="//res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,w_819,h_518/https://dashboard.snapcraft.io/site_media/appmedia/2021/04/windows.png">
	<img class="screenshot" src="https://gitlab.com/TurboWafflz/ImaginaryInfinity-Calculator/-/raw/development/screenshots/store-macos.png">
</div>