---
title: "ETS2/ATS Mod Utility"
date: 2022-01-26T17:51:24-05:00
draft: true
---
A simple utility to fix a few issues with mods for Euro Truck Simulator 2 and American Truck Simulator. Designed for Linux, may also work on MacOS.
<br>
<h3>Features:</h3>
<ul>
	<li>Convert dds files from DirectX to OpenGL format</li>
	<li>Create quick jobs for trucks without them by modifying dealer configurations</li>
</ul>
<h3>Usage:</h3>
<ol>
	<li>Install dependencies (python3, tqdm, imagemagick)</li>
	<ul>
		<li>On Ubuntu this can be done by running <code>sudo apt install python3 python3-pip imagemagick</code> followed by <code>pip3 install tqdm</code></li>
	</ul>
	<li>Download the converter by clicking the 'Download' button at the bottom right corner of this page</li>
	<li>Extract the SCS file for the mod (In most cases these are zip or rar files which can be extracted with utilities like Ark)</li>
	<li>Open a terminal inside the extracted mod (Make sure you're at the same level as 'manifest.sii' and the 'def' folder)</li>
	<li>Copy the 'modConvert.py' to the current directory (You can use <code>cp path/where/you/downloaded/it/modConvert.py .</code> from your terminal or just copy it with your file manager of choice)</li>
	<li>To convert dds files and create jobs, run <code>python3 modConvert.py --dds --jobs</code>. Alternatively, you can omit either '--jobs' or '--dds' if you only want to do one.</li>
	<li>Either repack the mod into a zip file and put it in your mods directory, or just put the extracted mod folder into your mods directory</li>
</ol>
<a class="btn btn-primary" href="/ETS2/modConvert.py">Download</a>