---
title: "TerminalCraft"
date: 2022-01-26T14:11:13-05:00
draft: false
---
TerminalCraft is a text based survival game with procedurally generated worlds.
<br>
<br>
<b>Note:</b> TerminalCraft is still fairly early in development and is missing a lot of features it needs to be an entertaining game. At this point it's just an experiment to see what a text based survival sandbox is like, but hopefully it will develop into more of a fully fledged game.
<br>
<br>
<a class="btn btn-primary" href="//turbowafflz.itch.io/terminalcraft">Download on Itch</a>
<a class="btn btn-secondary" href="/demos/terminalcraft/">Online Demo (Alpha)</a>
<a class="btn btn-secondary" href="//gitlab.com/TurboWafflz/terminalcraft/-/blob/trunk/README.md">Documentation</a>
<a class="btn btn-secondary" href="//gitlab.com/TurboWafflz/TerminalCraft">Browse the source code</a>
<hr>
<div class="grid-container screenshot-grid">
	<img class="screenshot" src="https://img.itch.zone/aW1hZ2UvMTI5Njk1Ny83NTQ1MDc0LnBuZw==/original/XWIc%2Bl.png">
	<img class="screenshot" src="https://img.itch.zone/aW1hZ2UvMTI5Njk1Ny83NTQ1MDgwLnBuZw==/original/b4bW4K.png">
</div>