header{
	margin-bottom: 2rem;
}
body{
	height: 100%;
	margin-bottom: 4rem;
	font-family: sans;
}
footer{
		position: fixed;
		width: 100%;
		bottom: 0px;
		left: 0;
		text-align: center;
		font-size: 0.7rem;
}
a.card, a.card:hover {
	text-decoration: none;
}
.grid-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.grid-container>*{
	margin: 0.2em;
}
.navbar-brand img{
	height: 100%;
}
.contact-section{
	text-align: center;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}
#portrait{
	width: 100%;
	max-width: 10rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: .25rem;
}
a.card-wrapper{
	text-decoration: none;
	width: 100%;
}
.screenshot-grid{
	align-content: center;
	align-items: center;
	text-align: center;
}
.screenshot{
	width: 100%;
	max-width: 40rem;
	margin: auto;
	margin-bottom: 2rem;
	border-radius: .25rem;
}
.footer-card{
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	background-image: linear-gradient(125deg,rgba(255,255,255,.3),rgba(255,255,255,.2) 70%);
	box-shadow: inset 1px 1px rgba(255,255,255,.2),inset -1px -1px rgba(255,255,255,.1),1px 3px 24px -1px rgba(0,0,0,.15);
	--bs-secondary-rgb: transparent;
	border-radius: 0.25rem;
}
.navbar-brand{
	font-size: 1.4rem;
	font-weight: bold;
}
.navbar-nav{
	margin-left: auto;
}
code{
	border: none;
	box-shadow: inset 1px 1px rgba(255,255,255,.2),inset -1px -1px rgba(255,255,255,.1),1px 3px 24px -1px rgba(0,0,0,.15);
	background-color: transparent;
	background-image: linear-gradient(125deg,rgba(255,255,255,.3),rgba(255,255,255,.2) 70%);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	padding: 0.15rem;
	border-radius: 0.25rem;
	color: white;
}
.item{
	margin: 0.2em;
}
.demoscreen-container{
	width: 100%;
	display: flex;
	align-content: center;
	align-items: center;
}
.demoscreen{
	width: 43rem;
	height: 25rem;
	margin: auto;
}
