{{ define "main" }}
	<h1 class="col-header dark-orange">Blog</h1>
	{{ range (.Site.GetPage "section" "blog").Pages }}
		<a class="card-wrapper" href='{{ .Permalink }}'>
			<div class="card" style="width: 100%;">
				<div class="card-body">
					<h5 class="card-title">{{ .Title }}</h5>
					<i>{{ .Date.Format "January 2, 2006" }}</i>
					<p class="card-text">{{ .Description }}</p>
				</div>
			</div>
		</a>
	{{ end }}
{{ end }}