<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- Bootstrap -->
		<link href="/bootstrap/bootstrap.css" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

		<link href="/css/stylesheet.css" rel="stylesheet">

		{{ $title := site.Title }}
		{{ if not .IsHome }}
			{{ $title = printf "%s | %s" .Title site.Title }}
		{{ end }}
		<title>
			{{ $title }}
		</title>
	</head>
	<body>
		<header>
			{{ partial "navbar.html" }}
		</header>
		<main>
			<div class="container">
				{{ block "main" . }}{{ end }}
			</div>
		</main>
		<footer>
			{{ partial "footer.html" }}
		</footer>
	</body>
</html>
