<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand" href="/"><img src="/favicon.png" style="height:1.7rem; margin-right: 0.7rem;" alt="Logo">TurboWafflz</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="/">Home</a>
				</li>
				 <li class="nav-item">
					<a class="nav-link" aria-current="page" href="/blog">Blog</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="/equipment">Equipment</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="/collection">Collection</a>
				</li>
				<!-- <li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li> -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Other Places I Exist
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item" href="//gitlab.com/TurboWafflz">GitLab</a></li>
						<li><a class="dropdown-item" href="//turbowafflz.itch.io">Itch</a></li>
						<li><a class="dropdown-item" href="//lemmy.world/u/turbowafflz@lemmy.world">Lemmy</a></li>
						<li><a class="dropdown-item" href="//libre.fm/user/turbowafflz">Libre.fm</a></li>
						<li><a class="dropdown-item" href="//www.last.fm/user/TurboWafflz">Last.fm</a></li>
						<li><a class="dropdown-item" href="//repl.it/@turbowafflz">Repl.it</a></li>
						<li><a class="dropdown-item" href="//steamcommunity.com/id/turbowafflz">Steam</a></li>
						<li><a class="dropdown-item" href="//my.calcs.quest/u/423">MyCalcs</a></li>
						<li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item" href="/archive">Website Archive</a></li>
					</ul>
				</li>
				<!-- <li class="nav-item">
					<a class="nav-link disabled">Disabled</a>
				</li> -->
			</ul>
			<form class="d-flex">
				<!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success" type="submit">Search</button> -->
			</form>
		</div>
	</div>
</nav>
