---
title: "TerminalCraft Demo"
date: 2022-02-28T13:34:45-05:00
draft: false
---

<div class="demoscreen-container">
	<iframe src="//twws.surge.sh/terminalcraft" class="demoscreen"></iframe>
</div>
<i>This demo is running TerminalCraft on <a href="//www.tinycorelinux.net/">Core</a> 12.0 in <a href="//github.com/copy/v86">v86</a></i>
<hr>
<h4>Note:</h4>
This online demo takes a long time to load, does not save your data, and ususally runs an outdated version of the software quite slowly. Please adjust expectations appropriately.
<br>
<br>
You can download the normal version of TerminalCraft <a href="/projects/terminalcraft/">here</a>.
