<div class="card item">
	<div class="card-body">
		<h5 class="card-title">{{ $.Get "name" }}</h5>
		<p class="card-text">
			<ul>
				{{ if $.Get "os" }}
					<li>{{ $.Get "os" }}</li>
				{{ end }}
				{{ if $.Get "cpu"}}
					<li>{{ $.Get "cpu" }}</li>
				{{ end }}
				{{ if $.Get "ram" }}
					<li>{{ $.Get "ram" }} RAM</li>
				{{ end }}
				{{ if $.Get "gpu" }}
					<li>{{ $.Get "gpu" }}</li>
				{{ end }}
				{{ if $.Get "note" }}
					<li>{{ $.Get "note" }}</li>
				{{end}}
				{{ if $.Get "note2" }}
					<li>{{ $.Get "note2" }}</li>
				{{end}}
			</ul>
		</p>
	</div>
</div>