<a class="card-wrapper" href='{{ .Get "url"}}'>
	<div class="card" style="width: 100%;">
		<!-- <img src="/images/terminalcraft.png" class="card-img-top" alt="TerminalCraft Logo"> -->
		<div class="card-body">
			<h5 class="card-title">{{ .Get "title" }}</h5>
			<p class="card-text">{{ .Get "description" }}</p>
			{{ if $.Get "btn1" }}
				<a href='{{ .Get "btn1Url" }}' class="btn btn-outline-primary">{{ .Get "btn1" }}</a>
			{{ end }}
			{{ if $.Get "btn2" }}
				<a href='{{ .Get "btn2Url" }}' class="btn btn-outline-secondary">{{ .Get "btn2" }}</a>
			{{ end }}
		</div>
	</div>
</a>